.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.float-right {
  float: right;
}
a {
  color: #93453A;
  text-decoration: none;
}
a:hover {
  color: #5B1F16;
  text-decoration: underline;
}
.page-header {
  padding-bottom: 10px;
}
body {
  color: #000000;
  -webkit-font-smoothing: antialiased;
  background-color: #efefef;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
p {
  color: #262626;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Lato', sans-serif;
}
#header {
  border-top: 2px solid #414C60;
  background: #3e495d url(../img/header-background.jpg) center 0 repeat-x;
  text-align: center;
}
#header p {
  margin: 15px 25px 15px 25px;
}
#header h1 {
  color: white;
  text-shadow: 0 1px 0 #414C60;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
  margin: 0 15px;
}
#header .description {
  font-size: 20px;
  line-height: 26px;
  color: #fff;
  text-shadow: 0 1px 0 #414C60;
}
#header .screenshot {
  margin: 5px 0 0 0;
}
#header .logo {
  margin: 45px 0;
  font-family: 'Condiment', cursive;
  font-size: 44px;
}
#header .logo a {
  color: #2e384c;
  text-decoration: none;
  text-shadow: 0 1px 1px white;
}
#header .navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 25px 0;
}
#header .navigation li {
  display: inline;
  margin: 0 15px;
  font-size: 15px;
}
#header .navigation li a {
  color: #2e384c;
  text-shadow: 0 1px 1px white;
}
#header .navigation li.active {
  font-weight: bold;
}
#content {
  padding: 20px 20px 50px 20px;
  background-color: white;
  border-top: 4px solid #e3e3e3;
  border-bottom: 1px solid #ccc;
}
#content .feature {
  margin-bottom: 20px;
}
#content .feature .thumb {
  float: right;
  margin: 0 15px 15px 15px;
}
#content .thumb-right {
  float: right;
  margin: 0 15px 15px 15px;
}
#home #content {
  padding: 20px;
}
#contact-map {
  width: 570px;
  border: none;
}
.contact-information {
  background-color: whiteSmoke;
  border: 1px solid #EEE;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.plans-type {
  background: #333;
  font-size: 14px;
  padding: 5px 0;
  font-weight: bold;
  color: white;
  text-align: center;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}
#plan1 .plans-type {
  background-color: #4f6f6e;
  border-bottom: 1px solid #446060;
  text-shadow: 0 1px 0 #253333;
}
#plan1 .plans-price {
  color: white;
  background-color: #648d8c;
  border-top: 1px solid #8eafae;
  text-shadow: 0 1px 0 #253333;
}
#plan1 .plans-signup {
  background-color: #7fa5a4;
}
#plan2 .plans-type {
  background-color: #5c6584;
  border-bottom: 1px solid #525a75;
  text-shadow: 0 1px 0 #323748;
}
#plan2 .plans-price {
  color: white;
  background-color: #757e9e;
  border-top: 1px solid #a2a8be;
  text-shadow: 0 1px 0 #323748;
}
#plan2 .plans-signup {
  background-color: #939ab3;
}
#plan3 .plans-type {
  background-color: #8599a0;
  border-bottom: 1px solid #778d94;
  text-shadow: 0 1px 0 #54656b;
}
#plan3 .plans-price {
  color: white;
  background-color: #a2b1b6;
  border-top: 1px solid #cdd5d8;
  text-shadow: 0 1px 0 #54656b;
}
#plan3 .plans-signup {
  background-color: #bfc9cc;
}
#plan4 .plans-type {
  background-color: #966a67;
  border-bottom: 1px solid #875f5d;
  text-shadow: 0 1px 0 #593f3e;
}
#plan4 .plans-price {
  color: white;
  background-color: #ab8785;
  border-top: 1px solid #cab4b2;
  text-shadow: 0 1px 0 #593f3e;
}
#plan4 .plans-signup {
  background-color: #c0a5a3;
}
.plans-table {
  width: 100%;
  -webkit-box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}
.plans-table td {
  padding: 15px 0;
  border-bottom: 1px solid #e3e3e3;
  text-align: center;
}
.plans-table tr:last-child td {
  border-bottom: none;
}
.plans-table .plans-price {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
}
.plans-table .plans-signup {
  border: none;
}
#footer {
  border-top: 1px solid #fff;
  background-color: #efefef;
  padding: 25px 0;
  font-size: 12px;
}
#footer h3 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 7px;
  border-bottom: 1px solid #ccc;
}
#footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#footer li {
  line-height: 20px;
  font-size: 11px;
}
